.footer-wrapper {
  position: relative;
  width: 100%;
  padding: 15px 0
}

.footer-wrapper .footer-link {
  height: 24px;
  text-align: center
}

.footer-wrapper .footer-link a {
  display: inline-block;
  margin: 6px;
  padding-right: 12px;
  border-right: 1px solid #fff;
  font-size: 12px;
  line-height: 12px;
  color: #d9d9d9
}

.footer-wrapper .footer-link a.last {
  margin-right: 0;
  padding-right: 0;
  border-right: none
}

.footer-wrapper .footer-link a:hover {
  color: #fff
}

.footer-wrapper .copyright {
  font-size: 12px;
  line-height: 24px;
  color: #ced0cf;
  text-align: center
}