[class*=" icon-"],
[class^=icon-] {
  display: inline-block;
  speak: none;
  font-family: iconfont !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.clearfix::before,
.clearfix::after {
  display: table;
  content: ""
}

.clearfix::after {
  clear: both
}

.text-align-center {
  text-align: center
}

.container-wrapper {
  position: relative;
  top: 0;
  right: 0;
  bottom: 70px;
  left: 0;
  background: url("https://cdn.jsdelivr.net/gh/void-init/static/f008a56e4316-1.png") center no-repeat;
  background-size: cover;
}

.container-wrapper .container {
  height: 100%
}

.login-wrapper {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 0;
  width: 338px;
  padding: 16px 24px;
  margin-top: -177px;
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 7px;
  -webkit-box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.5)
}

.login-wrapper .hd {
  margin-bottom: 24px
}

.tabs .tabs-item {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 35px
}

.tabs .tabs-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #2888f8;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  content: ""
}

.tabs .tabs-item.is-active {
  color: #2888f8
}

.tabs .tabs-item.is-active::after {
  width: 100%
}

.login-form--item {
  position: relative;
  margin-bottom: 22px
}

.login-form--item-error {
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 4px;
  font-size: 12px;
  line-height: 1;
  color: #f5222d;
}

.input {
  position: relative;
  font-size: 14px;
  display: inline-block;
  width: 100%
}

.input-prefix {
  position: absolute;
  left: 5px;
  top: 0;
  color: #cdcdcd;
  text-align: center
}

.input-prefix--icon {
  width: 25px;
  line-height: 40px
}

.input-inner {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 10px 15px 10px 30px;
  border: 1px solid #d9d9d9;
  font-size: inherit;
  line-height: 20px;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-appearance: none
}

.input-extra {
  position: absolute;
  top: 1px;
  right: 10px;
  bottom: 1px;
}

.input-extra:hover {
    opacity: 0.7;
}

.input-inner::placeholder,
.input-inner::-webkit-input-placeholder {
  color: #cdcdcd;
}

.input-inner:focus {
  border-color: #2888f8;
  -webkit-box-shadow: 0 0 0 2px rgba(40, 136, 248, 0.2);
  -moz-box-shadow: 0 0 0 2px rgba(40, 136, 248, 0.2);
  box-shadow: 0 0 0 2px rgba(40, 136, 248, 0.2)
}

.login-form--item.is-error .input-inner,
.login-form--item.is-error .input-inner:focus {
  border-color: #f5222d;
  -webkit-box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
  -moz-box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
  box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2)
}
.tip-error{
  float: left;
  font-size: 12px;
  line-height: 1.5;
  color: #f5222d;
}
.forget-link,
.regist-link {
  float: right;
  font-size: 12px;
  line-height: 1.5;
  color: #2888f8;
}

.forget-link:hover,
.regist-link:hover {
  opacity: 0.6;
  -ms-filter: alpha(opacity=60);
  filter: alpha(opacity=60);
}

.other-link {
  float: left;
  font-size: 12px
}

.other-link a{
  padding-left: 3px;
}

.other-link img{
  width: 30px;
  height: 30px;
  margin-top: -6px;
}

.button {
  width: 100%;
  height: 40px;
  margin: 22px 0;
  line-height: 40px;
  font-size: 14px;
  vertical-align: middle;
  color: #fff;
  cursor: pointer;
  background-color: #2888f8;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px
}

.button:hover {
  background: #53a0f9;
  border-color: #53a0f9
}

.button-link {
  font-size: 14px;
  line-height: 40px;
  vertical-align: middle;
  color: #2888F8;
  cursor: pointer;
  border: none;
  background-color: transparent
}

.button-link.is-disabled {
  color: #b0b0b0;
  cursor: not-allowed;
}
.mx {
    filter: grayscale(100%);
    opacity: 0.6;
}
.mx:hover {
    filter: none;
    opacity: 1;
}

.back-to-mobile {
    font-family: "Microsoft YaHei";
    color: #595959;
}

.back-to-mobile:hover {
    opacity: 0.7;
}
